.linkIcon {
  height: 3rem;
  width: 3rem;
}
.linkGroup {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}
.linkGroup:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.linkPanel * {
  margin: 0;
}
.linkTitle {
  font-weight: bold;
}
.linkSecondLine {
  font-size: 0.75rem;
}
.linkList {
  display: flex;
  gap: 2rem;
}

.linkBlockContainer {
}
.linkBlockTitle {
  text-align: center;
}
